.toast {
	visibility: hidden;
	opacity: 0;
	top: 30px; /* Position at the top */
	transition: opacity 0.5s, top 0.5s;
}

.toast.show {
	visibility: visible;
	opacity: 1;
	top: 50px; /* Slide down slightly when shown */
	min-width: 250px;
	margin-left: -125px; /* Center horizontally */
	background-color: #ffff !important;
	color: #004040;
	text-align: center;
	border-radius: 5px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%; /* Center horizontally */
	font-size: 17px;
}