<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Course Subscription</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row" >
    <h1>Subscription</h1>
  </div>
  <div class = "row">
    <div class = "col-lg-3">
      <a th:href = "@{/api/admin/subscription/subscriptions/new}" class = "btn btn-primary btn-sm mb-3"> Add Subscription</a>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th>PlanName</th>
      <th>Description</th>
      <th>SubscriptionType</th>
      <th>Cost</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "subscription : ${subscriptions}">
      <td th:text="${subscription.planName}"></td>
      <td th:text="${subscription.description}"></td>
      <td th:text="${subscription.subscriptionType}"></td>
      <td th:text="${subscription.cost}"></td>
      <td>
        <a th:href="@{/api/admin/subscription/edit/{uuid}(uuid=${subscription.uuid})}"
           class="btn btn-primary">Update</a>

        <a th:href="@{/api/admin/subscription/delete/{uuid}(uuid=${subscription.uuid})}"
           class="btn btn-danger">Delete</a>

        <a th:href = "@{api/admin/purchaseSubscription/purchase}"
           class = "btn btn-warning">Purchase</a>
      </td>
    </tr>
    </tbody>

  </table>
</div>
</body>
</html>