.toast {
	visibility: hidden;
	opacity: 0;
	top: 30px; /* Position at the top */
	transition: opacity 0.5s, top 0.5s;
}

.toast.show {
	visibility: visible;
	opacity: 1;
	top: 50px; /* Slide down slightly when shown */
	min-width: 250px;
	margin-left: -125px; /* Center horizontally */
	background-color: rgb(102, 162, 97);
	color: rgb(255, 255, 255);
	text-align: center;
	border-radius: 5px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%; /* Center horizontally */
	font-size: 17px;
}

#search {
	width: 250px;
	color: black;
}

.sort-arrow {
	font-size: 12px;
	margin-left: 5px;
}

th {
	cursor: pointer;
	white-space: nowrap;
}

th .header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#filterBy {
	width: 150px; /* Adjust the width as needed */
}

/* Custom styles to increase the size of the radio buttons */
.form-check-input {
    width: 15px; /* Adjust the width of the radio button */
    height: 15px; /* Adjust the height of the radio button */
}

.form-check-label {
    font-size: 18px; /* Optional: Increase label font size */
}

#loadingSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050; /* Keeps it above other elements */
    display: none; /* Hidden by default */
    pointer-events: none; /* Ensures it's non-interactive */
}

table {
    table-layout: fixed;
    width: 100%;
}

.text-right {
    text-align: right !important;
}

#paginationControls {
  display: flex;
  justify-content: center;  /* Center the content */
  align-items: center;      /* Vertically center the content */
  width: 100%;              /* Ensure the container takes full width */
}

#paginationControls {
  display: flex;
  justify-content: space-between;  /* Ensure buttons are on the left and right */
  align-items: center;
  width: 100%;  /* Ensure it takes the full width */
  margin-top: 10px; /* Add some space from the table */
}

#pageInfo {
  flex-grow: 1;  /* Makes sure the page info takes the remaining space */
  text-align: center;  /* Center the page info */
  margin: 0 10px;  /* Add some spacing if needed */
}

button {
  margin: 0 10px; /* Space between the buttons */
}